with engine.connect() as conn:
    conn.execute("CREATE DATABASE IF NOT EXISTS your_new_database")
### 1. **Connecting to Hive using SQLAlchemy with Pandas**

First, let's create a SQLAlchemy engine using your connection string:

```python
from sqlalchemy import create_engine
import pandas as pd

# Define the Hive connection parameters
username = 'ankit810248bgre'  # Replace with your Hive username
host = 'localhost'            # Use 'localhost' if Hive is running locally
port = 10000                  # Default port for HiveServer2
database = 'default'          # Replace with your Hive database name

# Create the connection string for SQLAlchemy
connection_string = f'hive://{username}@{host}:{port}/{database}'

# Create a SQLAlchemy engine
engine = create_engine(connection_string)
```

### 2. **Listing Databases**

```python
query = "SHOW DATABASES"
databases = pd.read_sql(query, engine)
print(databases)
```

### 3. **Listing Tables in a Database**

```python
query = "SHOW TABLES IN default"  # Replace 'default' with your desired database
tables = pd.read_sql(query, engine)
print(tables)
```

### 4. **Creating a Database**

SQLAlchemy and Pandas don't directly support non-`SELECT` statements like `CREATE` using `read_sql`, so you will execute such statements using a raw connection:

```python
with engine.connect() as conn:
    conn.execute("CREATE DATABASE IF NOT EXISTS your_new_database")
```

### 5. **Creating a Table**

```python
with engine.connect() as conn:
    conn.execute("""
    CREATE TABLE IF NOT EXISTS your_table_name (
        id INT,
        name STRING,
        age INT
    )
    """)
```

### 6. **Inserting Data into a Table**

```python
with engine.connect() as conn:
    conn.execute("""
    INSERT INTO your_table_name (id, name, age) VALUES (1, 'Alice', 30)
    """)
```

### 7. **Selecting Data from a Table**

```python
query = "SELECT * FROM your_table_name"
data = pd.read_sql(query, engine)
print(data)
```

### 8. **Updating Data in a Table**

```python
with engine.connect() as conn:
    conn.execute("""
    UPDATE your_table_name
    SET age = 31
    WHERE id = 1
    """)
```

### 9. **Deleting Data from a Table**

```python
with engine.connect() as conn:
    conn.execute("""
    DELETE FROM your_table_name
    WHERE id = 1
    """)
```

### 10. **Dropping a Table**

```python
with engine.connect() as conn:
    conn.execute("DROP TABLE IF EXISTS your_table_name")
```

### 11. **Executing HiveQL Commands**

For more advanced HiveQL commands:

```python
query = """
SELECT name, COUNT(*) FROM your_table_name GROUP BY name
"""
result = pd.read_sql(query, engine)
print(result)
```

### 12. **Using Hive Functions**

```python
query = """
SELECT name, UPPER(name) AS upper_name FROM your_table_name
"""
result = pd.read_sql(query, engine)
print(result)
```

### 13. **Joining Tables**

```python
query = """
SELECT a.id, a.name, b.salary
FROM your_table_name a
JOIN another_table b ON a.id = b.id
"""
result = pd.read_sql(query, engine)
print(result)
```

### 14. **Creating and Using Views**

Creating a view:

```python
with engine.connect() as conn:
    conn.execute("CREATE VIEW your_view AS SELECT id, name FROM your_table_name")

# Querying the view
query = "SELECT * FROM your_view"
view_data = pd.read_sql(query, engine)
print(view_data)
```

### 15. **Dropping a Database**

```python
with engine.connect() as conn:
    conn.execute("DROP DATABASE IF EXISTS your_database_name CASCADE")
```